fastapi[standard]
uvicorn[standard]
sqlmodel
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
openai
anthropic
pydantic-settings
requests
reportlab
qrcode[pil]
pillow
rouge-score
aiofiles
apscheduler
deep-translator
datasets~=2.21.0
aiohttp
faker
